<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	<link href="{{asset('assets/assetsFront/img/favicon.png') }}" rel="icon">


	{% block stylesheets %}

	<link href="https://fonts.gstatic.com" rel="preconnect" />
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet" />

		<link href="{{ asset('assets/assetsBack/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
		<link href="{{ asset('assets/assetsBack/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet" />
		<link href="{{ asset('assets/assetsBack/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet" />
		<link href="{{ asset('assets/assetsBack/vendor/quill/quill.snow.css') }}" rel="stylesheet" />
		<link href="{{ asset('assets/assetsBack/vendor/quill/quill.bubble.css') }}" rel="stylesheet" />
		<link href="{{ asset('assets/assetsBack/vendor/remixicon/remixicon.css') }}" rel="stylesheet" />
		<link href="{{ asset('assets/assetsBack/vendor/simple-datatables/style.css') }}" rel="stylesheet" />
	
		<link href="{{ asset('assets/assetsBack/css/style.css') }}" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


	{% endblock %}
	{% block javascripts %}{% endblock %}
</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">
		<div class="d-flex align-items-center justify-content-between">
			<a href="index.html" class="logo d-flex align-items-center">
				<img src="{{ asset('assets/assetsBack/img/logo.png') }}" alt="">
			</a>
			<i class="bi bi-list toggle-sidebar-btn"></i>
		</div>

		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">
				<li class="nav-item d-block d-lg-none">
					<a class="nav-link nav-icon search-bar-toggle " href="#">
						<i class="bi bi-search"></i>
					</a>
				</li>
				<li class="nav-item dropdown pe-3">
					<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
						<img src="{{ asset('assets/assetsBack/img/profile.png') }}" alt="Profile" class="rounded-circle">

						<span class="d-none d-md-block dropdown-toggle ps-2">Administrateur</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li class="dropdown-header">
							<h6>Administrateur</h6>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<a class="dropdown-item d-flex align-items-center" href="#">
								<i class="bi bi-box-arrow-right"></i>
								<span>Sign Out</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
	<!-- End Header -->


	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">

			<li class="nav-item">
				<a class="nav-link " href="index.html">
					<i class="bi bi-grid"></i>
					<span>Dashboard</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-person"></i>
					<span>Gestion des utilisateurs</span>
					<i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

					<li>
						<a href="components-modal.html">
							<i class="bi bi-circle"></i>
							<span>Modal</span>
						</a>
					</li>

					<li>
						<a href="components-progress.html">
							<i class="bi bi-circle"></i>
							<span>Progress</span>
						</a>
					</li>


				</ul>
			</li>

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-shop-window"></i>
					<span>Gestion de Marketplace</span>
					<i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a href="forms-elements.html">
							<i class="bi bi-circle"></i>
							<span>Form Elements</span>
						</a>
					</li>
					<li>
						<a href="forms-layouts.html">
							<i class="bi bi-circle"></i>
							<span>Form Layouts</span>
						</a>
					</li>
					<li>
						<a href="forms-editors.html">
							<i class="bi bi-circle"></i>
							<span>Form Editors</span>
						</a>
					</li>
					<li>
						<a href="forms-validation.html">
							<i class="bi bi-circle"></i>
							<span>Form Validation</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
					<i class="ri-leaf-line"></i>
					</i>
					<span>Gestion Agricole</span>
					<i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
				<li>
					<a href="tables-general.html">
						<i class="bi bi-circle"></i>
						<span>General Tables</span>
					</a>
				</li>
				<li>
					<a href="tables-data.html">
						<i class="bi bi-circle"></i>
						<span>Data Tables</span>
					</a>
				</li>
			</ul>
			</li>
		


			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-mortarboard"></i>
					<span>Gestion des Formations</span>
					<i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a href="charts-chartjs.html">
							<i class="bi bi-circle"></i>
							<span>Chart.js</span>
						</a>
					</li>
					<li>
						<a href="charts-apexcharts.html">
							<i class="bi bi-circle"></i>
							<span>ApexCharts</span>
						</a>
					</li>
					<li>
						<a href="charts-echarts.html">
							<i class="bi bi-circle"></i>
							<span>ECharts</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
					<i class="ri-tools-line"></i>
					<span>Gestion du Matériel</span>
					<i class="bi bi-chevron-down ms-auto"></i>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
					<i class="ri-shake-hands-line"></i>
					<span>Gestion de candidature</span>
					<i class="bi bi-chevron-down ms-auto"></i>
				</a>
			</li>

			<li class="nav-heading">Pages</li>
			<li class="nav-item">
				<a class="nav-link collapsed" href="users-profile.html">
					<i class="bi bi-person"></i>
					<span>Profile</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link collapsed" href="pages-faq.html">
					<i class="bi bi-gear"></i>
					<span>Settings</span>
				</a>
			</li>
		</ul>
	</aside><!-- End Sidebar-->
	

	<!-- ======= Main ======= -->
	<main id="main" class="main">
	 {% block content %}
	 
	 {% endblock %}
	 </main>
	<!-- End #main -->
	

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright
			<strong>
				<span>Agrowise</span>
			</strong>. All Rights Reserved
		</div>
	</footer><!-- End Footer -->
	
	
	
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"> <i class="bi bi-arrow-up-short"></i></a><!-- Vendor JS Files -->
	
	<script src="{{ asset('assets/assetsBack/vendor/apexcharts/apexcharts.min.js') }}"></script>
	<script src="{{ asset('assets/assetsBack/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ asset('assets/assetsBack/vendor/chart.js/chart.umd.js') }}"></script>
	<script src="{{ asset('assets/assetsBack/vendor/echarts/echarts.min.js') }}"></script>
	<script src="{{ asset('assets/assetsBack/vendor/quill/quill.js') }}"></script>
	<script src="{{ asset('assets/assetsBack/vendor/simple-datatables/simple-datatables.js') }}"></script>
	<script src="{{ asset('assets/assetsBack/vendor/tinymce/tinymce.min.js') }}"></script>
	<script src="{{ asset('assets/assetsBack/vendor/php-email-form/validate.js') }}"></script>
	
	<script src="{{ asset('assets/assetsBack/js/main.js') }}"></script>
	
</body>

</html>