{% extends 'BackEnd/back.html.twig' %}

{% block title %}Parcelles{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Liste des Parcelles</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped table-hover ">                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Superficie</th>
                            <th>Localisation</th>
                            <th>Type Sol</th>
                            <th>Utilisateur Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for parcelle in parcelles %}
                            <tr>
                                <td>{{ parcelle.id }}</td>
                                <td>{{ parcelle.nom }}</td>
                                <td>{{ parcelle.superficie }}</td>
                                <td>{{ parcelle.localisation }}</td>
                                <td>{{ parcelle.typeSol | capitalize }}</td> 
                                <td>{{ parcelle.utilisateurId }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
